<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/CSS/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apresentação</title>
</head>

<body>

    <img src="/img/laicp.png" alt="Image" height="300" width="600">
    <div>

        <span>
            <p>Somos uma equipe de profissionais capacitados em  engenharia  de  automação  e  controle  deprocessos,  dedicados  a  desenvolver  soluções inteligentes  
            para  melhorar  a  eficiência  eprodutividade de processos</p>
        </span>

        <span>
            <p>Nossas pesquisas e projetos envolvem a aplicação de tecnologias avançadas de inteligência artificial, machine learning e Internet das Coisas (IoT) para 
            criar sistemas autônomos e adaptativos que possam monitorar, analisar  e  controlar  processos  complexos  em tempo real</p>
        </span>
        
        <span>
            <p>Orientado por: <br>Jose Ruben Sicchar Vilchez</p>
        </span>

    </div>

</body>
</html>