<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Apresentação</title>
        <link rel="stylesheet" type="text/css" href="../CSS/style.css"/>
    </head>

    <body>

        <div id="apresentacao">
            <img id="logo" src="../img/laicp.png" alt="Image"/>
            <span>
                <p>Somos uma equipe de profissionais capacitados em  engenharia  de  automação  e  controle  deprocessos,  dedicados  a  desenvolver  soluções inteligentes  
                para  melhorar  a  eficiência  eprodutividade de processos</p>
            </span>

            <span>
                <p>Nossas pesquisas e projetos envolvem a aplicação de tecnologias avançadas de inteligência artificial, machine learning e Internet das Coisas (IoT) para 
                criar sistemas autônomos e adaptativos que possam monitorar, analisar  e  controlar  processos  complexos  em tempo real</p>
            </span>

        </div>
        
        <div id="orientador">
            <p>Orientado por: <br>Jose Ruben Sicchar Vilchez</p>
            <img src="../img/igt-tool.png">
            <p id="btn">Criar um botao de proximo aqui</p>
        </div>

    </body>
</html>