<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IGT - TOOLS</title>
    <link rel="stylesheet" href="{% static 'monitoring/CSS/index.css' %}">
</head>
<body>
    <h1>IGT TOOL</h1>
    <h2>Inteligencia do gerenciamento de transformadores</h2>

    <div id="apresentacao">
        <span>    
            <p>Desenvolvimento de um sistema que monitore a distribuição de carga de uma empresa ou instituição</p>
        </span>

        <span>
            <p>Com tal aplicação é possível verificar e corrigir problemas de sobrecarga em locais e salas, assim como apenas vizualizar o consumo de energia em cada ambiente</p>
        </span>

        <span>
            <p>Desta forma torna-se aplicável para economia de energia e financeira aumentando o desempenho eficiente e seguro</p>
        </span>

        <span>
            <p>
                É um sistema com aplicações de IoT em conjunto com desenvolvimento web e aplicação de sistemas de inteligência
                artificial visando realizar projeções de consumo futuros e a automatização de processos
            </p>
        </span>
    </div>

    <div id = "orientador">
        <img src="{% static 'monitoring/img/iot-exemplo.png' %}" alt="Image" width="95%"/>
        <p id="btn"> <a href="{% url 'Monitoramento' %}">Monitoramento</a> </p> <br>
        <p> <a href="{% url 'index' %}">Home</a> </p>
    </div>
</body>
</html>