<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IGT - TOOLS</title>
    <link rel="stylesheet" href="{% static 'monitoring/CSS/index.css' %}">
</head>
<body>
    <h1>IGT TOOL</h1>
    <h2>Inteligencia do gerenciamento de transformadores</h2>

    <p>Desenvolvimento de um sistema que monitore a distribuição de carga de uma empresa ou instituição</p>
    <p>Com tal aplicação é possível verificar e corrigir problemas de sobrecarga em locais e salas, assim como apenas vizualizar o consumo de energia em cada ambiente</p>
    <p>Desta forma torna-se aplicável para economia de energia e financeira aumentando o desempenho eficiente e seguro</p>
    
</body>
</html>